In [42]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [43]:
df = pd.read_csv('covidtest.csv')
bf = pd.read_csv('data01.csv')

In [44]:
df.rename({'date_died': 'outcome'}, axis=1, inplace=True)

In [45]:
cf = bf[["ID", "outcome", "age", "gendera", "hypertensive", "diabetes"]]

In [46]:
cf.rename({'ID': 'id', 'gendera': 'sex', 'hypertensive': 'hypertension'}, axis=1, inplace=True)

In [47]:
transform={2:1,1:0}
df = df.replace({'sex':transform,'hypertension':transform, 'diabetes':transform})

In [48]:
cf = cf.replace({'sex':transform})

In [49]:
df['outcome'][df['outcome']!='9999-99-99']=1.0

In [50]:
df['outcome'][df['outcome']!=1]=0.0

In [51]:
df['covid_status'] = 0
cf['covid_status'] = 1

In [52]:
frames = [df, cf]

result = pd.concat(frames, ignore_index=True)

In [53]:
result = result[~result['outcome'].isnull()]
result['outcome'] = result['outcome'].astype(int)
result['age'] = result['age'].astype(int)
result['sex'] = result['sex'].astype(int)
result['hypertension'] = result['hypertension'].astype(int)
result['diabetes'] = result['diabetes'].astype(int)
result['covid_status'] = result['covid_status'].astype(int)

In [54]:
result = result[result['outcome'] != 98]
result = result[result['sex'] != 98]
result = result[result['hypertension'] != 98]
result = result[result['diabetes'] != 98]

In [55]:
df

            id outcome  age  sex  hypertension  diabetes  covid_status
0       16169f     0.0   27    1             1         1             0
1       1009bf     0.0   24    1             1         1             0
2       167386     0.0   54    0             1         1             0
3       0b5948     0.0   30    1             1         1             0
4       0d01b5     1.0   60    0             0         0             0
...        ...     ...  ...  ...           ...       ...           ...
566597  01ff60     0.0   58    1             1         0             0
566598  047cd1     0.0   48    0             1         1             0
566599  1beb81     0.0   49    0             1         1             0
566600  16fb02     0.0   43    0             1         1             0
566601  0021c9     0.0   65    1             0         0             0

[566602 rows x 7 columns]

In [56]:
cf

          id  outcome  age  sex  hypertension  diabetes  covid_status
0     125047      0.0   72    0             0         1             1
1     139812      0.0   75    1             0         0             1
2     109787      0.0   83    1             0         0             1
3     130587      0.0   43    1             0         0             1
4     138290      0.0   75    1             1         0             1
...      ...      ...  ...  ...           ...       ...           ...
1172  171130      0.0   62    0             1         1             1
1173  101659      0.0   78    0             0         1             1
1174  162069      0.0   85    1             1         1             1
1175  120967      0.0   79    1             0         1             1
1176  107636      0.0   47    0             1         1             1

[1177 rows x 7 columns]