In [38]:
## Link to repository - https://github.com/biony1209/DSCI-510-Final-Project

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
covid = pd.read_csv(r'C:\Users\jaimv\Downloads\covid.csv')
noncovid = pd.read_csv(r'C:\Users\jaimv\Downloads\noncovid.csv')

In [40]:
covid.rename({'date_died': 'outcome'}, axis=1, inplace=True)

In [41]:
noncovid = noncovid[["ID", "outcome", "age", "gendera", "hypertensive", "diabetes"]]

In [42]:
noncovid.rename({'ID': 'id', 'gendera': 'sex', 'hypertensive': 'hypertension'}, axis=1, inplace=True)

In [43]:
transform={2:1,1:0}
covid = covid.replace({'sex':transform,'hypertension':transform, 'diabetes':transform})

In [44]:
noncovid = noncovid.replace({'sex':transform})

In [45]:
covid['outcome'][covid['outcome']!='9999-99-99']=1.0

C:\Users\jaimv\AppData\Local\Temp/ipykernel_49076/4100060542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid['outcome'][covid['outcome']!='9999-99-99']=1.0

In [46]:
covid['outcome'][covid['outcome']!=1]=0.0

C:\Users\jaimv\AppData\Local\Temp/ipykernel_49076/1287461197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid['outcome'][covid['outcome']!=1]=0.0

In [47]:
covid = covid[["id", "outcome", "age", "sex", "hypertension", "diabetes"]]

In [48]:
covid['covid_status'] = 1
noncovid['covid_status'] = 0

In [49]:
covid['outcome'] = covid['outcome'].dropna().astype('uint8')

In [50]:
covid

            id  outcome  age  sex  hypertension  diabetes  covid_status
0       16169f        0   27    1             1         1             1
1       1009bf        0   24    1             1         1             1
2       167386        0   54    0             1         1             1
3       0b5948        0   30    1             1         1             1
4       0d01b5        1   60    0             0         0             1
...        ...      ...  ...  ...           ...       ...           ...
566597  01ff60        0   58    1             1         0             1
566598  047cd1        0   48    0             1         1             1
566599  1beb81        0   49    0             1         1             1
566600  16fb02        0   43    0             1         1             1
566601  0021c9        0   65    1             0         0             1

[566602 rows x 7 columns]

In [51]:
noncovid = noncovid.dropna()
covid = covid.dropna()

In [52]:
noncovid['outcome'] = noncovid['outcome'].astype(int)
covid['outcome'] = covid['outcome'].astype(int)

In [53]:
noncovid

          id  outcome  age  sex  hypertension  diabetes  covid_status
0     125047        0   72    0             0         1             0
1     139812        0   75    1             0         0             0
2     109787        0   83    1             0         0             0
3     130587        0   43    1             0         0             0
4     138290        0   75    1             1         0             0
...      ...      ...  ...  ...           ...       ...           ...
1172  171130        0   62    0             1         1             0
1173  101659        0   78    0             0         1             0
1174  162069        0   85    1             1         1             0
1175  120967        0   79    1             0         1             0
1176  107636        0   47    0             1         1             0

[1176 rows x 7 columns]